<h1>PROJETO CRM v9</h1>
<nav>
	<ul>
		<li>
{{#link-to 'index' }}inicio{{/link-to }}</li>
		<li>{{#link-to 'contatos' }}contatos{{/link-to}}</li>
		<li>perfil</li>

	</ul>
</nav>

<div class="painel" >

{{outlet}}

</div>